*{
    padding: 0;
    margin: 0;
}

html,
body,
.container{
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    display: grid;
    background-color: rgb(0, 149, 255);
    grid-row: 1 / 3;
    color: white;
    justify-items: center;
    gap: 25px;
}

.sidebar > .side-container,
.sidebar > .dashboard-sign{
    display: flex;
}

.side-container{
    gap: 15px;
}

.section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 65%;
}

.section > img{
    width: 25px;
}

.side-container,
.dashboard-sign{
    align-items: center;
}

.side-container > img{
    width: 25px;
}

.dashboard-sign{
    font-size: 1.7rem;
}

.dashboard-sign > img{
    fill: white;
}

.header{
    display: grid;
    background-color:brown;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-container1{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.searchbar-container{
    display: flex;
    align-items: center;
    padding-right: 150px;
    padding-left: 25px;
    gap: 15px;
}

.searchbar{
    height: 25px;
    background-color: grey;
    flex-grow: 1;
    border-radius: 15px;
}

.header-container2{
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    align-items: center;
}

.user-container{
    padding-left: 25px;
    display: flex;
    align-items: center;
}

.user-greeting{
    display: flex;
    flex-direction: column;
}

.username{
    font-size: 1.5rem;
}

.action-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-right: 50px;
}

.button{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    border-radius: 25px;
}

.main-content{
    display: grid;
    background-color: teal;
}

.main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.card{
    display: grid;
    align-content: space-between;
}

.logos-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    gap: 25px;
}

.card,
.contents-container{
    background-color: blanchedalmond;
}

.logos-container > img{
    width: 25px;
}

.main-right{
    display: grid;
    gap: 10px;
}

.announcement-container{
    display: grid;
}

.trending-container{
    display: grid;
}