.chelsea-market-regular {
    font-family: "Chelsea Market", system-ui;
    font-weight: 400;
    font-style: normal;
}
  

.roboto-google {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

html,
body,
.container{
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3.2fr;
}

.sidebar{
    font-weight: bold;
    display: grid;
    grid-template-rows: 0.2fr repeat(2, 1fr);
    background-color: #1992d4;
    grid-row: 1 / 3;
    color: white;
    justify-items: center;
    gap: 25px;
}

.sidebar > .side-container,
.sidebar > .dashboard-sign{
    display: flex;
}

.side-container{
    gap: 15px;
}

.section{
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 1fr;
    width: 65%;
    align-items: center;
    height: fit-content;
    gap: 25px;
}

.section img{
    width: 25px;
}

.section > div{
    display: flex;
    align-items: center;
    gap: 25px;
}

.side-container,
.dashboard-sign{
    align-items: center;
}

.side-container > img{
    width: 25px;
}

.dashboard-sign{
    font-size: 1.7rem;
    gap: 10px;
    padding-right: 50px;
}

.dashboard-sign > img{
    fill: white;
}

.header{
    font-weight: bold;
    display: grid;
    background-color:#ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    box-shadow: 0 1px 5px rgb(151, 150, 150);
}

.header > div{
    height: 50%;
}

.header-container1{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.searchbar-container{
    display: flex;
    align-items: center;
    padding-right: 150px;
    padding-left: 25px;
    gap: 15px;
}

.searchbar{
    height: 25px;
    background-color: #e2e8f0;
    flex-grow: 1;
    border-radius: 15px;
}

.header-container2{
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    align-items: center;
}

.user-container{
    display: flex;
    gap: 10px;
    padding-left: 25px;
    align-items: center;
}

.user-greeting{
    display: flex;
    flex-direction: column;
}

.username{
    font-size: 1.5rem;
}

.action-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-right: 50px;
}

.button{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1992d4;
    color: white;
    border-radius: 25px;
}

.main-content{
    display: grid;
    background-color: #e2e8f0;
    padding: 10px 25px 45px 15px;
}



.main-container,
.main-content > .titles{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 20px;
}

.main-container{
    margin-top: 10px;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.card{
    display: grid;
    align-content: space-between;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-left: 10px solid rgb(255, 153, 0);
}

.logos-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    gap: 25px;
}

.card,
.contents-container{
    background-color: #ffffff;
}

.card,
.contents-container{
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgb(114, 113, 113);
}

.text-container > p,
.content > p,
.user-description{
    color: grey;
    font-weight: 500;
}

.announcement-container .content:nth-child(1),
.announcement-container .content:nth-child(2){
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.title,
.titles,
.trending-container > p{
    font-weight: bold;
}

.titles,
.trending-container > p{
    font-size: 1.3rem;
}

.logos-container > img{
    width: 25px;
}

.main-right{
    display: grid;
    gap: 25px;
}

.announcement-container{
    display: grid;
}

.trending-container{
    display: grid;
    gap: 10px;
}

.contents-container{
    display: grid;
    gap: 15px;
    padding: 20px;
}

.content{
    display: grid;
    gap: 15px;
}
.trending-container > * > .content{
    display: flex;
}

.trending-container > * > * > .container{
    display: flex; 
    flex-direction: column;
}